body {
    margin: 0;
    padding: 0;
    /* background: rgb(210, 239, 250); */
    background: rgb(237, 237, 237);
    /* background: rgba(210, 239, 250, 0); */
    font-size: 14px;
    font-family: '微软雅黑', '宋体', sans-serif;
    color: #231F20;
    overflow: auto
}

a {
    color: #000;
    font-size: 14px;
}

#main {
    width: 100%;
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 680px;
    margin-top: 180px;
}
@font-face {
    font-family: myLiSu;
    src: url(../font/STLITI.TTF);
}
#wrap .say{
    font-size: 23px;
    /* font-family: 'LiSu'; */
    font-family: myLiSu;
}

#wrap .say.cite{
    font-size: 18px;
    line-height: 20px;
    color: #ff61fa;
}

/* #wrap .say:nth-child(6){
    font-size: 10px;
} */

#text {
    top: 39px;
    line-height: 30px;
    width: 300px;
    height: 560px;
    /* left: 188px; */
    left: 120px;
    position: absolute;
}

#code {
    display: none;
    font-size: 20px;
}

#clock-box {
    position: absolute;
    left: 60px;
    top: 550px;
    font-size: 28px;
    display: none;
}

#clock-box a {
    font-size: 28px;
    text-decoration: none;
}

#clock {
    margin-left: 48px;
}

#clock .digit {
    font-size: 64px;
}

#canvas {
    margin: 0 auto;
    width: 1100px;
    height: 680px;
}

#error {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
}

.hand {
    cursor: pointer;
}

.say {
    margin-left: 5px;
}

.space {
    margin-right: 150px;
}

#together {
    /* opacity: 0.9; */
    z-index: -10;
    position: relative;
    /* top: -80px; */
    width: 100%;
    left: 60px;
    height: auto;
    display: none;
}
#clock-box font{
    color: #3498DB;
}